<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50240128480-8njl9rei4jchaka1ch021f5ib5tpkb6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50240128480-8njl9rei4jchaka1ch021f5ib5tpkb6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBcAB28kBYFlahY2pifay9Vf96LRGrx47o</string>
	<key>GCM_SENDER_ID</key>
	<string>50240128480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.android.woofle</string>
	<key>PROJECT_ID</key>
	<string>woofle-83704</string>
	<key>STORAGE_BUCKET</key>
	<string>woofle-83704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50240128480:ios:d3fd11874aaaab96af9785</string>
</dict>
</plist>